@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
body {
  margin: 8rem 10rem 2rem 10rem;
  font-family: "Ubuntu", sans-serif;

  background-color: #098f8f;
  color: white;
}
